.section_title_content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:1180px;
    margin:0 auto;
}
.section_title{
    font-size:36px;
    color:#525C65;

    padding-top: 97px;
}
.section_title_line{
    margin-top:20px;

    width:60px;
    height:6px;

    background:#E3E9ED;

    border-radius:3px;
}
.section_sub_title{
    margin-top:20px;
}